

<% if mobile_device == "mobile" %>

<div class="container-phone">
<div class="logo">
  <%= inline_svg_tag 'logo.svg' %>

</div>
<div class="slogan-phone"> <p>wise and wild flavours coming soon!</p></div>
<div class="contact-phone"><a href="mailto:contact@kahaw.ooo">contact us</a></div>

</div><!-- container -->


<%else %>

<div class="container">
<div class="logo">
  <%= inline_svg_tag 'logo.svg' %>

</div>
<div class="slogan"> <p>wise and wild flavours coming soon!</p></div>
<div class="contact"><a href="mailto:contact@kahaw.ooo">contact us</a></div>

</div><!-- container -->


<% end %>
